*/

!models/
!models/**
!production/h5m80d50_priority/
!production/h5m80d50_priority/h5m80d50_priority/
!production/h5m80d50_priority/h2m80d50_dual/
!production/h5m80d50_priority/h5m80d50_priority/**
!production/h5m80d50_priority/h2m80d50_dual/**
